= f.label :subject, "Who"
= f.text_field :subject
= f.label :predicate, "What"
= f.text_field :predicate

%br
= f.label :issued_on
= f.text_field :issued_on
= f.label :tags, "Tags"
= f.text_field :tags

%br
= f.label :notes
= f.text_area :notes, :size => "80x3"
