- content_for :head do
  = javascript_include_tag 'uploader/swfupload', 'uploader/handlers', 'uploader/binding'
  :javascript
    var uploadPolicy = #{upload_policy.to_json};


= render :partial => 'application/model_errors', :locals => { :model => @document }

.header
  Upload Document:

- form_for :document, @document, :url => documents_path, :html => { :multipart => true } do |f|
  .form_fields
    = f.hidden_field :upload_path, :value => upload_policy[:prefix]
    = render :partial => 'form', :locals => { :f => f }

  %span.uploader
  #divFileProgressContainer
  = f.submit "Upload"

  = link_to "Cancel", documents_path
